name: Test

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    if: github.event.pull_request.draft == false
    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - name: Install toolchain tools
      run: |
        rustup component add --toolchain 1.86.0-x86_64-unknown-linux-gnu rustfmt
    - name: Build
      run: cargo build --all-targets
    - name: Check style and warnings
      run: .githooks/pre-commit
    - name: Run tests
      run: cargo test --verbose
